{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns:height="http://www.w3.org/1999/xhtml"
        xmlns:height="http://www.w3.org/1999/xhtml"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post')}}";
</script>
{{end}}



<div class="everything">


    <div id="vue-div" class="display:none">
        <div id = "title_screen" v-if="!logged_in">
            <div class = about>
                <img src = https://image.freepik.com/free-icon/pencil-striped-symbol-for-interface-edit-buttons_318-50260.jpg height="220px" width ="220px">
                <br><br>Submit and organize your favourite quotes and reflections<br>
            </div>

            <div class = about>
                <img src = https://image.freepik.com/free-icon/magnifier_318-50440.png height="220px" width ="220px">
                <br><br>Quickly access an entry in your collection<br>
            </div>

            <div class = about>
                <img src = http://cliparts.co/cliparts/Bca/KKB/BcaKKBR7i.png height = "300px" width = "300px">
                <br>Design and track reading and writing goals<br>
            </div>
        </div>


        <div id = "main_content" v-if = "logged_in">


            <div v-if="is_adding_post" id="addPost" class = "popup">
                <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">

                    <div class="form-group" id="no_table_artist__row">
                        <div>
                            <input class="form-control string" id="title_textbox" v-model="form_post_title"
                                   type="text"/>
                            <input class="form-control string" id="post_textbox" v-model="form_post_content"
                                   type="text" style="position: relative; margin: auto; width: 80%; height: 300px;"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" id="submit_record__row">
                        <div>
                            <input class="btn btn-primary" id="add_post_submit" type="submit" value="Submit" v-on:click="closeAddPost()"/>
                        </div>
                    </div>
                </form>
            </div>

            <div v-if="isFilteringPost" id="filterPost" class = "popup">
                <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">

                    filtering post
                    <div class="form-group" id="submit_record__row">
                        <div v-for="post in posts">
                            <input type="checkbox" name="vehicle" value="Car" checked="checked">${post.user_name}<br>
                        </div>
                        <input class="btn btn-primary" id="add_post_submit" type="submit" value="Submit" v-on:click="closeFilterPost()"/>
                    </div>
                </form>
            </div>





            <div class = "addButton" v-on:click="add_post_button()">+</div>
            <div class = "filterButton" v-on:click="filter_post_button()">o</div>
            <div class="published_posts">
                <div v-for="post in posts">
                    <div id = "entryBlock" v-on:click="activate(post.id)">
                        <div class = "entryTopBar">
                            <div class = "tab" v-on:click="postTab()"><span v-if = "!post.title">Untitled Post</span><span v-if = "post.title"> ${post.title}</span></div>
                            <div class = "tab" v-on:click="infoTab()" v-if = "activated && post.id == the_id">Info</div>
                            <div class = "tab" v-on:click="tagsTab()" v-if = "activated && post.id == the_id">Tags</div>
                            <div class = "tab" v-on:click="edit_post_button(post.id, post.post_content, post._idx, post.user_email), editTab()"
                                v-if = "activated && post.id == the_id">Edit</div>
                            <div class = "tab" v-on:click="delTab()" v-if = "activated && post.id == the_id">Delete</div>
                        </div>
                        <div id = "entry" class = "entry"><!--v-bind:style="{background: activeColour}"-->

                            <div id = "edit_form" v-if="showEdit && post.id == the_id" id="edit_post_div">
                                <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                    <div class="form-group" id="no_table_artist__row">
                                        <div>
                                            <input class="form-control string" id="edit_textbox" v-model="form_edit_content" type="text" style="width: 1000px;"/>
                                        </div>
                                    </div>
                                    <div class="form-group" id="submit_record__row">
                                        <div>
                                            <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="handle_form_stuff()"/>
                                        </div>
                                    </div>
                                </form>
                            </div>



                            <div id = "post" v-if = "(!showInfo && !showTags && !showDel && !showEdit && showPost) || post.id != the_id">
                                <p class = "content">${post.post_content}</p>
                            </div>


                            <div id = "info" v-if = "showInfo && post.id == the_id">
                                <!--<p><b>Posted by:</b> ${post.user_name}</p>
                                <p><b>Posted on:</b> ${post.created_on}&nbsp;</p>
                                <p><b>Updated on:</b> ${post.updated_on}<p>
                                for the stuff under this: v-if category is quote or book?-->

                                <p><b>Post Title: </b><span v-if = !isEditingInfo>
                                    <span v-if = "!post.title">Untitled Post</span><span v-if = "post.title"> ${post.title}</span>
                                </p>
                                <div id = "authorForm" v-if = "isEditingInfo">
                                    <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                        <div class="form-group" id="no_table_artist__row">
                                            <div>
                                                <input class="form-control string" id="editTitle" v-model="form_edit_title" type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="submit_record__row">
                                            <div>
                                                <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="handle_form_stuff()"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <p><b>Book: </b><span v-if = !isEditingInfo>${post.book}</span></p>
                                <div id = "bookForm" v-if = "isEditingInfo"><!-- if editingInfo-->
                                    <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                        <div class="form-group" id="no_table_artist__row">
                                            <div>
                                                <input class="form-control string" id="editAuthor" v-model="form_edit_book" type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="submit_record__row">
                                            <div>
                                                <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="edit(post._idx, post.id)"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <p><b>Author: </b><span v-if = !isEditingInfo>${post.author}</span></p>
                                <div id = "authorForm" v-if = "isEditingInfo">
                                    <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                        <div class="form-group" id="no_table_artist__row">
                                            <div>
                                                <input class="form-control string" id="editAuthor" v-model="form_edit_author" type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="submit_record__row">
                                            <div>
                                                <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="edit(post._idx, post.id)"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <p><b>Pages: </b><span v-if = !isEditingInfo>${post.pages}</span></p>
                                <div id = "pagesForm" v-if = "isEditingInfo">
                                    <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                        <div class="form-group" id="no_table_artist__row">
                                            <div>
                                                <input class="form-control string" id="editAuthor" v-model="form_edit_pages" type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="submit_record__row">
                                            <div>
                                                <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="handle_form_stuff()"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <p><b>Posted On: </b>${post.created_on}</p>


                                <button class="btn btn-default" v-if = "!isEditingInfo" v-on:click="toggleEditInfo(post.title, post.author, post.book, post.pages)" style = "margin-top: 10px;">Edit Info</button>
                                <button class="btn btn-default" v-if = "isEditingInfo" v-on:click="toggleEditInfo(post.title, post.author, post.book, post.pages)" style = "margin-top: 10px;">Stop Editing</button>
                            </div>

                            <div id = "tag" v-if = "showTags && post.id == the_id">
                                <p>Book, quote, reflection, other, tags, here</p>

                                <div id = "edit_tags_form" id="editTags" v-if = "isEditingTags">
                                    <form id = "edit" action="#" v-on:submit.prevent="edit_post" enctype="multipart/form-data" method="edit">
                                        <div class="form-group" id="no_table_artist__row">
                                            <div>
                                                <input class="form-control string" id="tagsTextbox" v-model="form_edit_content" type="text" style="width: 1000px;"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="submit_record__row">
                                            <div>
                                                <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Update" v-on:click="handle_form_stuff()"/>
                                                <input class="btn btn-primary" id="edit_post_cancel" type="submit" value="Cancel" v-on:click="postTab()"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <button class="btn btn-default" v-if = "!isEditingTags" v-on:click="toggleEditTags()" style = "margin-top: 10px;">Edit Tags</button>
                                <button class="btn btn-default" v-if = "isEditingTags" v-on:click="toggleEditTags()" style = "margin-top: 10px;">Stop Editing</button>

                            </div>

                            <div id = "delete" v-if = "showDel && post.id == the_id">
                                <p>Are you sure?</p>
                                <input class="btn btn-primary" id="delete" type="submit" value="Delete" v-on:click="del_post(post.id)"/>
                                <input class="btn btn-primary" id="delete" type="submit" value="Cancel" v-on:click="postTab()"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="has_more" class="show_more">
                    <button class="btn btn-default" v-on:click="get_more()">Load more</button>
                </div>
            </div>
        <div>
    </div>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>