{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        add oil lots of oil
        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
            {{=icon_add}}Add post
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
            {{=icon_cancel}}Cancel
            </button>
        </div>

        <div v-if="is_adding_post" id="add_post_div">
            <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">

                <div class="form-group" id="no_table_artist__row">
                    <div>
                        <input class="form-control string" id="no_table_artist" v-model="form_post_content" placeholder="your message here" type="text" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="submit_record__row">
                    <div>
                        <input class="btn btn-primary" id="add_post_submit" type="submit" value="Submit"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="result_table">
            <table>
                <tbody>
                <tr v-for="post in posts">
                    <td></td>
                    <div v-if="is_editing_post" id="edit_post_div">
                        <form action="#" v-on:submit.prevent="edit_post" class="form-horizontal" enctype="multipart/form-data" method="edit">
                            <div class="form-group" id="no_table_artist__row">
                                <div>
                                    <input class="form-control string" id="no_table_artist" v-model="form_edit_content" type="text" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group" id="submit_record__row">
                                <div>
                                    <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Submit" v-on:click="handle_form_stuff()"/>
                                </div>
                                <div>
                                    <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Cancel" v-on:click="handle_form_stuff2()"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id = "editing" v-if = "!is_editing_post">
                        <td v-if="post.id != the_id || show_post">${post.post_content}&nbsp;&nbsp;</td>
                    </div>
                        <td>Posted by: ${post.user_name}&nbsp;&nbsp;&nbsp;</td>
                        <td>Posted on: ${post.created_on}&nbsp;&nbsp;&nbsp;</td>
                        <td>Updated on: ${post.updated_on}&nbsp;&nbsp;&nbsp;</td>
                        <td><i class="fa fa-trash-o" v-on:click="del_post(post.id)"></i></td>
                        <td><i class="fa fa-pencil" v-if="!is_editing_post" v-on:click="edit_post_button(post.id, post.post_content, post._idx)" v-bind:class="{'disabled': !logged_in}"></i></td>
                        <!--<td><i class="fa fa-pencil" v-if="is_editing_post" v-on:click="edit_post_button(post.id)"></i></td>-->

                </tr>
                </tbody>
            </table>
            <div v-if="has_more" class="show_more">
                <button class="btn btn-default" v-on:click="get_more()">Load more</button></div>
        </div>
    </div>


</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>