body {
  background-color:#9fa4a9;
}

#site_title {
    margin:auto;
    align-content: center;
    text-align: center;
    font-size:78px;
    font-family: monospace;
    color: black;
}

#addPost {
  width:50%;
  height:250px;
  background: #56494c;
  color:red;
  border-radius:20px;
  position: fixed;
  padding:20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  z-index:1;
}

.addButton {
  cursor: pointer;
  position: fixed;
  background-color: #56494c;
  color: #afbfc0;
  margin-left: 0.001%;
    padding-left: 10px;
    padding-bottom: 15px;
  font-size: 48px; /*dynamic*/
  border-radius: 8px 0 0 8px;
    width:50px;
    height: 50px;
    
}

.addButton:hover {
  background-color: #afbfc0;
  color: white;
}

.entry {
  width: 85%;
  line-height:170%;
  background-color: white;
  margin: 0 auto 0 auto;
  padding: 20px;
  font-size: 18px;

}

.entryTopBar {
  margin: 0 auto 0 auto;
  padding-top:41px;/*between tab and entry box*/
  width: 85%;
  height: 75px;
  background-color: #847e89;
}
/*
a.tab {
  cursor: crosshair;
}

div.tab {
    padding: 12px 20px;
}*/


.tab:hover {
  color:white;
  background-color: #afbfc0;
  text-transform: uppercase;
}

.tab {
  cursor: pointer;
  display: inline;
  color: #afbfc0;
  text-align: center;
  margin-right: 5px;
  background-color: #56494c;
  font-size: 18px;
  padding: 10px 20px;
  position:relative;
  border-radius: 8px 8px 0 0;
  /*make text not selectable
  http://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


.show_more {
  margin-top:20px;
}

.form-horizontal {
  padding-left:20px;
  width:50%;
}

#edit_form {
  width:50%;
}

.button_bar{
  margin-bottom:20px;
}

#info {
  position:relative;
  line-height: 100%;
  max-width:50%;
}

form { width: 100% }

#title_screen {
  margin:50px auto auto auto;
  width: 85%;
}

.about {
  /*box-sizing: content-box*/
  padding-left: 15px;
  padding-right:15px;
  text-align:center;
  width:33%;
  height:250px;
  display: table-cell;
  font-size:24px;
  line-spacing: 0px;
}

#login {
  background-color: #727272;
    font-size: 25px;
    font-family: monospace;
    color: black;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    margin:auto;
    align-content: center;
  
}