body {
  background-color:#9fa4a9;
}

.entry {
  width: 85%;
  background-color: white;
  margin: 0 auto 50px auto;
  padding: 20px;

}

.entryTopBar {
  margin: 0 auto 0 auto;
  padding-top:39px;
  width: 85%;
  height: 75px;
  background-color: #847e89;
}
/*
a.tab {
  cursor: crosshair;
}

div.tab {
    padding: 12px 20px;
}*/


.tab:hover {
  color:white;
  background-color: #afbfc0;
}
.tab {
  cursor: pointer;
  display: inline;
  color: #afbfc0;
  text-align: center;
  margin-left: 20px;
  background-color: #56494c;
  font-size: 18px;
  padding: 12px 20px;
  position:relative
  /*make text not selectable
  http://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}



.overflow {
  height:450px;
  overflow:auto;
}

.show_more {
  margin-top:20px;
}

.form-horizontal {
  padding-left:20px;
  width:50%;
}

#edit_form {
  width:50%;
}

.button_bar{
  margin-bottom:20px;
}

#info {
  position:relative;
  font-variant: small-caps;
  max-width:50%;
}

#title_screen {
  margin:50px auto auto auto;
  width: 85%;
}

.about {
  /*box-sizing: content-box*/
  padding-left: 15px;
  padding-right:15px;
  text-align:center;
  width:33%;
  height:250px;
  display: table-cell;
  font-size:24px;
  line-spacing: 0px;
}